<% provide(:title, @group.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @group.name %>
      </h1>
        <%= @group.description %>
    </section>
  </aside>
</div>